//style.scss

@charset "utf-8";

@import "scss/_font";
@import "scss/_helper";

body {margin:0;padding:0;}
div {
  display:block;
  box-sizing:border-box;
}
a {
  text-decoration:underline;
  color:#000;
  background-color:#fff;
  padding: 10px 20px;
  display:inline-block;
  font-weight:bold;
  margin:0;
}
h1 {
  font-family:$gill-sans;
  text-align:$alignCenter;
  font-size:45px;
  line-height:50px;
  color:#000;
  background-color:#fff;
  margin:30px 0;

}
h2 {
  font-family:$gill-sans;
  text-align:$alignCenter;
  font-size:20px;
  line-height:25px;
  color:#000;
  background-color:#fff;
  padding:0px;
  margin:30px 0;
}
h3 {
  font-family:$gill-sans;
  text-align:$alignCenter;
  font-size:30px;
  line-height:40px;
  color:#000;
  background-color:#fff;
  padding:0px;
  text-transform: capitalize;
}
p {
  font-family:$gill-sans;
  text-align:$alignCenter;
  font-size:20px;
  line-height:25px;
  color:#000;
  margin:10px 0 30px;
}
.wrapper {
  width:1200px;
  padding:50px 15px 20px;
  margin:0 auto;
  text-align:center;
  overflow:hidden;
  #map {
    width:700px;
    height:600px;
    margin:0 auto;
    padding:20px 0;
  }
  .routeList {
    list-style:none;
    margin:0 0 30px;
  }
}
